<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="">MyStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  routerLink="">Home</a>
        </li>



      </ul>

      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngIf="user">
          <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{user.username}} <i class="fa-solid fa-user" ></i>
          </a>
          <ul class="dropdown-menu">
            <li (click)="logout()"><a class="dropdown-item" >Đăng xuất</a></li>
            <li><a class="dropdown-item" routerLink="mystore/profile">Xem thông tin cá nhân</a></li>

          </ul>
        </li>

        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" href="#signUpModal" data-bs-toggle="modal"><i class="fa-solid fa-user" ></i> Sign up</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link " href="#loginModal" data-bs-toggle="modal"><i class="fa-solid fa-right-to-bracket"></i> Log in</a>
        </li>
      </ul>
    </div>

  </div>

</nav>
<div class="content container" style="margin-bottom:4rem">
  <div class="row ">
    <div class="col-sm-12 col-lg-2 ">
      <div class="accordion accordion-flush pt-4" id="accordionFlushExample ">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed active" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Loại đồng hồ
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <ul class="list-group">

              <li class="list-group-item" *ngFor="let cate of categories" (click)="findByCategoryID(cate.categoryId)">{{cate.categoryName}}</li>


            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed active" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Quản lý sản phẩm
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <ul class="list-group">

              <li class="list-group-item" routerLink="/mystore/manageProduct">Danh sách sản phẩm</li>


            </ul>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading3">
            <button class="accordion-button collapsed active" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
              Quản lý người dùng
            </button>
          </h2>
          <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="flush-heading3"
            data-bs-parent="#accordionFlushExample">
            <ul class="list-group">

              <li class="list-group-item">Danh sách người dùng</li>


            </ul>
          </div>
        </div>

      </div>

    </div>
    <div class="col-sm-12 col-lg-8  pt-4">

      <router-outlet></router-outlet>

    </div>

  </div>
</div>


<div class="footer  p-4 bg-dark text-white text-center ">
  <p>Footer</p>
</div>
<!--signUpModal -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng ký</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="signupForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Name</label>
            <input type="text" class="form-control" formControlName="username"  aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label  class="form-label" >Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>
          <div class="mb-3">
            <label  class="form-label" >Full Name</label>
            <input type="text" class="form-control" formControlName="fullName" >
          </div>
          <div class="mb-3">
            <label  class="form-label" >Email</label>
            <input type="email" class="form-control"  formControlName="email">
          </div>
          <div class="mb-3">
            <label  class="form-label" >Address</label>
            <input type="text" class="form-control" formControlName="address">
          </div>
          <div class="mb-3">
            <label  class="form-label" >Phone Number</label>
            <input type="text" class="form-control" formControlName="phoneNumber">
          </div>
          <div class="mb-3">
            <label  class="form-label" >Image Link</label>
            <input type="text" class="form-control"  formControlName="image">
          </div>


        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="signUp(signupForm.value)" data-bs-dismiss="modal">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
<!--loginModal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Đăng nhập</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label  class="form-label">User Name</label>
            <input type="text" class="form-control" formControlName="username"  aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label  class="form-label" >Password</label>
            <input type="password" class="form-control" formControlName="password">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="login(loginForm.value)" data-bs-dismiss="modal">Đăng nhập</button>
      </div>
    </div>
  </div>
</div>

